.cariMobilContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1047px;
    height: 106px;

    background: #FFFFFF;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-top: -50px;
}

.cariMobil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 999px;
    height: 58px;
    margin: 0px 0px 0px 24px;
}

.poinCariMobil {
    display: flex;
    flex-direction: column;
}

.poinCariMobil p {
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    color: #3C3C3C;
}

select {
    width: 210.75px;
    height: 36px;
}

input {
    width: 210.75px;
    height: 36px;
}

input::placeholder {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #8A8A8A;
}

.buttonCariMobil {
    width: 92px;
    height: 36px;

    background: #5CB85F;

    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
    margin-top: 33px;
    border: 0px;
}