.heroContainer {
    background: #F1F3FF;
    width: 100%;
    padding-top: 17px;
}

.Hero h1 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
}

.Hero p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;

    width: 80%;
}

.Hero {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 0px 12px;
}