.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 333px;
    height: 586px;

    background: #FFFFFF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 12px 12px;
}

.cardImage img {
    width: 303px;
    height: 202px;
    margin: 30px 0px;
}

.cardInside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    width: 285px;
    height: 466px;
}

.cardDesc h6 {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    margin: 0px 0px 8px 0px;
}

h5 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 8px 0px;
}

.cardDesc p {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 16px 0px;
}

.cardPoint {
    display: flex;
}

.cardPoint img {
    margin-right: 8px;
}

.cardPoint p {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
}

.cardPoint:not(:last-child) {
    margin: 0px 0px 16px 0px;
}

.buttonContainer {
    margin: 50px 0px 0px 0px;
}

.buttonContainer button {
    width: 285px;
    height: 48px;

    background: #5CB85F;

    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
    border: 0px;
}