.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1141px;
    height: 128px;
    margin-top: 108px;
    margin-bottom: 100px;
}

.address {
    width: 268px;
    height: 112px;
}

.address p {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;

    color: #000000;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

.navItem {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #000000;
    text-decoration: none;
}

.sosmed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 268px;
    height: 68px;
}

.sosmed p {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;

    color: #000000;
}

.sosmedIcon {
    display: flex;
    justify-content: space-between;
    width: 224px;
}

.copyright {
    width: 268px;
    height: 20px;
}

.copyright p {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.logo {
    width: 100px;
    height: 34px;

    background: #0D28A6;
}