.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0px 32px 0px 0px;
}

.detailPaketBox {
    width: 605px;
    height: 618px;
    background: #FFFFFF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.tentangPaket h6 {
    margin: 24px 0px 0px 24px;
}

.tentangPaket p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin: 16px 0px 0px 24px;
}

.tentangPaket ul {
    margin: 8px 0px 0px 24px;
    padding: 0px 0px 0px 15px;
}

.tentangPaket li {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 14px;
    line-height: 175%;

    color: #8A8A8A;
}

.refundContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.refund ul {
    margin: 8px 0px 0px 24px;
    padding: 0px 0px 0px 15px;
}

.refund li {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 14px;
    line-height: 175%;
    color: #8A8A8A;
}

img {
    margin: 0px 30px 0px 0px;
}

.container button {
    width: 178px;
    height: 36px;

    background: #5CB85F;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
    margin: 24px 0px 0px 0px;
    border: 0px;
}